/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFB;
    color: #131610; /* text-color*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}

header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

#menu {
    list-style-type: none; 
    display: flex;
    flex-direction: column;
}

#menu > li {
    margin-bottom: 0.1rem;
    text-align: right;
}

.active {
    border-bottom: 1px solid #96c7e7;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FCFCFB;
    width: 100%;
    right: 0;
    padding-right: 1rem;
    box-shadow: 0 2px 2px #96c7e7;
    display: none;
    top: 100%;
}

/* Nav toggle */

/* Hide checkbox */
#nav-toggle {
    display: none;
}

/* Show the menu icon by default, hide the close icon */
.icon-container .menu-icon {
    display: inline-block;
}

.icon-container .close-icon {
    display: none;
}

/* When checkbox is checked, switch icons */
#nav-toggle:checked ~ .icon-container .menu-icon {
    display: none;
}

#nav-toggle:checked ~ .icon-container .close-icon {
    display: inline-block;
}

/* Show the menu when checked */
#nav-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main {
    flex: 1 0 auto; /*Main element takes all surplus space to push footer down*/
    margin-top: 40px;
}

/* Media query: >768px */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .icon-container {
        display: none;
    }
}

/* Media query: >992px */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #96c7e7;
    }
}
