/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFB;
    color: #131610; /* text-color*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}

header {
    padding: 0 4vw;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

header i {
    font-size: 6vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 500;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

.social-icons {
    display: flex;
    gap: 3vw;
    align-items: center;
    color: #eab55a;
}

.title {
    text-align: center;
    margin-top: 150px;
    padding-top: 4%;
    font-weight: bold;
}

.icon-container {
    color: #96c7e7;
}

#menu {
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
}

#menu > li {
    margin-bottom: 0.2rem;
    text-align: right;
    font-size: 4vw;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FCFCFB;
    width: 100%;
    left: 0;
    padding-right: 1rem;
    box-shadow: 0 2px 2px #96c7e7;
    display: none;
    top: 50%;
}

/* Nav toggle */

/* Hide checkbox */
#nav-toggle {
    display: none;
}

/* Show the menu icon by default, hide the close icon */
.icon-container .menu-icon {
    display: inline-block;
}

.icon-container .close-icon {
    display: none;
}

/* When checkbox is checked, switch icons */
#nav-toggle:checked ~ .icon-container .menu-icon {
    display: none;
}

#nav-toggle:checked ~ .icon-container .close-icon {
    display: inline-block;
}

/* Show the menu when checked */
#nav-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Main content */
main {
    flex: 1 0 auto; /*Main element takes all surplus space to push footer down*/
    margin-top: calc(7vh + 20px);
}

/* Media query: >768px */
 @media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    header i {
    font-size: 1.5rem;
    }

    .top-row {
        padding: 3% 2vw 0;
    }

    .social-icons {
        gap: 2vw;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu > li {
        padding-left: 1rem;
        font-size: 90%;
    }

    .icon-container {
        display: none;
    }
}

/* Media query: >992px */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #96c7e7;
    }

    header {
        padding: 0 10vw;
    }

    header i {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    .top-row {
        padding: 3% 2vw 0;
    }

    .title {
        padding-top: 2%;
    }

    .social-icons {
        gap: 1.5vw;
    }

    #menu > li {
        padding-left: 1.75vw;
        font-size: 100%;
        white-space: nowrap;
    }
}