/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 11vh; /* Adjusts anchor links within the page to account for the header-top*/
}

body {
    background-color: #FCFCFB;
    color: #131610; /* text-color*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

/* Header */

header a {
    text-decoration: none;
    color: inherit;
}

header i {
    font-size: 6vw;
}

h1 {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 500;
}

.top-row {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #FCFCFB;
    padding: 3vh 4vw;
    width: 100%;
}

.social-icons {
    display: flex;
    gap: 3vw;
    align-items: center;
    color: #eab55a;
}

.title {
    text-align: center;
    margin-top: calc(9vh + 10px);
    font-weight: bold;
}

.icon-container {
    color: #96c7e7;
}

#menu {
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
}

#menu > li {
    margin-bottom: 0.2rem;
    text-align: right;
    font-size: 4vw;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FCFCFB;
    width: 100%;
    left: 0;
    padding-right: 1rem;
    box-shadow: 0 2px 2px #96c7e7;
    display: none;
    top: 70%;
}

/* Nav toggle */

/* Hide checkbox */
#nav-toggle {
    display: none;
}

/* Show the menu icon by default, hide the close icon */
.icon-container .menu-icon {
    display: inline-block;
}

.icon-container .close-icon {
    display: none;
}

/* When checkbox is checked, switch icons */
#nav-toggle:checked ~ .icon-container .menu-icon {
    display: none;
}

#nav-toggle:checked ~ .icon-container .close-icon {
    display: inline-block;
}

/* Show the menu when checked */
#nav-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Main content */
main {
    flex: 1 0 auto; /*Main element takes all surplus space to push footer down*/
    margin: calc(1vh + 10px) 6vw 0;
}

/*About me section*/
.overlap-effect-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me .image-container {
    margin-top: 4.5vh;
    top: -50px;
    position: absolute;
    z-index: 2;
}

.container {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 5vh;
    width: 100%;
}

.container a {
    color: inherit;
}

.container h2 {
        font-size: 1.25em;
        text-align: center;
        padding: 0 1rem 0.5rem;
}

.pink {
    background-color: rgb(238, 124, 162, 0.3);
    margin-top: 5vh;
    padding: 220px 0 15px;
}

#about-me-content {
    padding-top: 2vh; /* Ensures content starts below the image */
    text-align: center;
}

#about-me-content p:first-child {
    font-size: 1.2rem;
    font-weight: 600;
}

#about-me-content p {
    padding: 0 1rem 0.5rem;
}

.services-link {
    background-color: #eab55a;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.services-link a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

/*Services section*/
.orange {
    background-color: rgb(234, 181, 90, 0.3);
    padding: 15px 0;
}

#services img {
    width: 35vw;
}

.services p {
    text-align: center;
    padding: 0 1rem 0.5rem;
}

.price {
    position: absolute;
    left: 68%;
    top: -5%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price i {
    font-size: 7em;
    color: #ee7ca2;
}

.price span {
    position: absolute;
    font-size: 1.25rem;
    font-weight: 650;
    transform: rotate(45deg);
    left: 31%;
    top: 41%;
}

.reviews-link {
    background-color: rgb(234, 181, 90, 0.5);
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.reviews-link a {
    text-decoration: none;
    font-weight: 400;
}

.reviews-link i {
    font-size: 2em;
    color: #ee7ca2;
}

.trial-request-link {
    background-color: #eab55a;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    border-radius: 50px;
    text-align: center;
}

.trial-request-link a {
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
}

/* Student reviews section */
#reviews img {
    width: 35vw;
}

#reviews h2 {
    margin: 0 0 1rem;
}

.review-item {
    background-color: rgb(150, 199, 231, 0.5);
    margin: 1rem;
    padding: 2rem 1rem 1.5rem;
    border-radius: 20px;
    position: relative;
    text-align: left;
}

.review-item i {
    font-size: 5em;
    color: #ee7ca2;
    position: absolute;
    top: -45px;
    left: 70%;
    padding: 0.5rem;
}

.review-item h3 {
    font-size: 0.9em;
    padding-bottom: 0.5em;
}

.review-item p {
    font-size: 0.9em;
}

/*Trial lesson request section */
#trial-request-form {
    padding: 7vw;
    display: block;
}

#trial-request-form input,
#trial-request-form select {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ee7ca2;
    border-radius: 10px;
    margin: 0.5em;
    width: 100%;
}

#trial-request-form label {
    font-size: 0.9em;
    font-weight: 600;
}

select:invalid {
    color: #757575;
}

/* Style checkboxes */
#trial-request-form input[type="checkbox"] {
    width: auto;
    margin-left: 12px;
    accent-color: #ee7ca2;
    transform: scale(1.25);
}

#trial-request-form button {
    background-color: #eab55a;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 50px;
    text-align: center;
    border: none;
    font-size: 1.25em;
    text-decoration: none;
    width: 100%;
}

/* FAQs section */
#faq {
    padding: 7vw;
}

.faq-item {
    padding-bottom: 10px;
}

.faq-item i {
    font-size: 1.5em;
    color: #ee7ca2;
}

/* Hide checkbox */
.faq-toggle {
    display: none;
}

/* Style the question label */
.faq-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.5vh;
    background-color: rgb(238, 124, 162, 0.3);
    border-radius: 20px;
}

/* Hide the close icon initially */
.faq-label .close-icon {
    display: none;
}

/* Hide the answer initially */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 2.5vh;
    font-size: 0.9em;
}

/* Show the answer when checkbox is checked */
.faq-item input[type="checkbox"]:checked ~ .faq-answer {
    max-height: 500px;
    margin-top: 10px;
}

/* Toggle icons */
.faq-item input[type="checkbox"]:checked ~ .faq-label .fa-arrow-down {
    display: none;
}

.faq-item input[type="checkbox"]:checked ~ .faq-label .close-icon {
    display: inline;
}

/* Footer */
footer {
    background-color: #FCFCFB;
    margin: 0 6vw 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-me {
    font-size: 1em;
}

#contact-me a {
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

#contact-me i {
    font-size: 1em;
    color: #eab55a;
}

#documents a {
    color: #ee7ca2;
    text-decoration: none;
    padding: 0.5em;
}

#documents {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1em;
    margin: 0.5em 0;
    align-self: center;
}

#copyright {
    padding-top: 4%;
    font-size: 1em;
    align-self: center;
}

/* Media query: >768px */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0;
    }

    header i {
    font-size: 1.5rem;
    }

    .top-row {
        padding: 3vh 8vw;
    }

    .social-icons {
        gap: 2vw;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu > li {
        padding-left: 1rem;
        font-size: 90%;
        white-space: nowrap;
    }

    .icon-container {
        display: none;
    }

    /* Main content */
    main {
        margin: 20px 10vw 0;
    }

    /* About me section */
    #about-me-content p:last-of-type {
        margin-bottom: 1rem;
    }

    .container h2 {
        font-size: 1.5em;
    }

    /* Services section */
    .services p {
        padding: 0 4rem 0.5rem;
    }

    .reviews-link,
    .trial-request-link {
        max-width: 450px;
        text-align: center;
        margin: 1em auto;
    }

    .price {
        position: absolute;
        left: 75%;
        top: -5%;
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price i {
        font-size: 8em;
    }
    
    .price span {
        font-size: 1.5rem;
    }

    /* Trial lesson request section */
    #trial-request-form {
        padding: 6vw 10vw;
    }

    #trial-request-form input,
    #trial-request-form select {
        font-size: 1rem;
    }

    #trial-request-form label {
        font-size: 1em;
    }

    /* Footer */
    #contact-me,
    #copyright {
        font-size: 1.5em;
    }

    #documents {
        font-size: 1.75em;
    }

}

/* Media query: >992px */
@media screen and (min-width: 992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #96c7e7;
    }

    header i {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    .top-row {
        padding: 3vh 10vw;
    }

    .title {
        margin-top: calc(9vh + 10px);
    }

    .social-icons {
        gap: 1.5vw;
    }

    #menu > li {
        padding-left: 1.75vw;
        font-size: 100%;
    }

    /* Main content */
    main {
        margin: 20px 6vw 0;
    }
}